    <footer>
        <p>Copyright &copy; Bogdan2024</p>
    </footer>
    
    
    <script>
        document.getElementById('pocetna').addEventListener('click', function() {
            window.location.href = "/";
        });
        document.getElementById('back').addEventListener('click', function() {
            window.location.href = "/";
        });
    </script>
</body>
</html>